<table class="table table-striped">
  <thead class="table-dark text-light">
  <tr>
    <th *ngFor="let header of flightDataHeaders">
      {{header}}
    </th>
  </tr>
  </thead>
  <tbody class="table-hover">
  <tr *ngFor="let item of flightData"
      (click)="onSelectingItem(item)">
    <td>{{item.flightNo}}</td>
    <td>{{item.origin}}</td>
    <td>{{item.destination}}</td>
    <td>{{item.departureDate | date}}</td>
    <td>{{item.departureTime}}</td>
    <td>{{item.arrivalDate | date}}</td>
    <td>{{item.arrivalTime}}</td>
    <td>{{item.fare | currency}}</td>
  </tr>
  </tbody>
</table>
