.homepage-header {
  //background-color: var(--primary-color);
  height: 5rem;
}

table {
  tbody tr:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
  //
  //tbody tr {
  //  //height: 3rem;
  //}
  //
  //th, td {
  //  padding: 1rem;
  //}
}
