 <div class="d-flex flex-wrap justify-content-between gap-5">
    <!-- Filter By Origin -->
    <div class="search-flight-dropdown flex-grow-1 flex-shrink-1">
      <p-dropdown
        [options]="allOriginItems.sort()"
        [(ngModel)]="selectedOrigin"
        (ngModelChange)="onSelectingOrigin()"
        placeholder="Select Origin"
        [showClear]="true"></p-dropdown>
    </div>

    <!-- Filter By Destination -->
    <div class="search-flight-dropdown flex-grow-1 flex-shrink-1">
      <p-dropdown
        [options]="allDestinationItems.sort()"
        [(ngModel)]="selectedDestination"
        (ngModelChange)="onSelectingDestination()"
        placeholder="Select Destination"
        [showClear]="true"></p-dropdown>
    </div>

    <!-- Filter By Departure -->
    <div class="search-flight-dropdown flex-grow-1 flex-shrink-1">
      <p-calendar
        [(ngModel)]="selectedDate"
        [minDate]="minAllowedDate"
        dateFormat="M d,yy"
        selectionMode="single" [showIcon]="true"
        [showButtonBar]="true"
        [readonlyInput]="true" inputId="range"
        placeholder="Select Departure Date"
        (ngModelChange)="selectDateModel()"
      ></p-calendar>
    </div>
  </div>
